.title {
    font-size: 56px;
    color: black;
    font-family: 'Grand Hotel', cursive;
    margin-bottom:0px;
    margin-top:15px;
    margin-bottom: 10px;
    text-align:center
}
.centerreach {
    text-align: center;
    align-content: center;
    margin-bottom:20px;
}
.buttons {
    display: flex;

    > button {

        &.state-on {
            border: 1px solid #e74c3c;
            color: #e74c3c;

            &.is-active,
            &:hover {
                border: 1px solid #e74c3c;
                background: #e74c3c;
                color: #fff;
            }
            &:active {
                border: 1px solid #e74c3c;
                background: darken(#e74c3c, 5%);
                color: #fff;
            }
            &:focus {
                box-shadow: 0 0 0 2px lighten(#e74c3c, 20%);
            }
        }
        &.state-off {
            border: 1px solid #7f8c8d;
            color: #7f8c8d;

            &.is-active,
            &:hover {
                border: 1px solid #7f8c8d;
                background: #7f8c8d;
                color: #fff;
            }
            &:active {
                border: 1px solid #7f8c8d;
                background: darken(#7f8c8d, 5%);
                color: #fff;
            }
            &:focus {
                box-shadow: 0 0 0 2px lighten(#7f8c8d, 20%);
            }
        }
    }
}
button {
    background: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1em;
    border-radius: 4px;
    border: 0;
    margin-right: 8px;
    padding: 6px 24px;

    &:focus {
        outline: 0;
    }
    &:hover {
        cursor: pointer;
    }
    &.state-save {
        background: #2c3e50;
        color: #fff;
        width: 100%;
        padding: 8px 24px;

        &:active {
            background: darken(#2c3e50, 5%);
        }
        &:focus {
            box-shadow: 0 0 0 2px lighten(#2c3e50, 20%);
        }
    }
}
.sites {
    margin: 16px 0 0;
    box-sizing: border-box;

    p {
        font-size: 14px;
        font-weight: 500;
        margin: 0 0 8px;
    }
    textarea {
        width: 100%;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        font-weight: 700;
        border: 0;
        background: #ecf0f1;
        border-radius: 4px;
        padding: 8px 16px;
        font-size: 14px;
        color: #2c3e50;
        margin: 0 0 8px;
        box-sizing: border-box;
        resize: none;
    }
}

$color_1: #fff;
$color_2: #14F195;
$background-color_1: black;

.col1 {
    color:$color_1;
}

.col2 {
    color:$color_2;
}

.tooltip {
    // margin-top: 5px !important;
    // color:black !important;
	// cursor: pointer;
	.tooltiptext {
		visibility: hidden !important;
		width: 120px !important;
		background-color: $background-color_1 !important;
		text-align: center !important;
		border-radius: 6px !important;
		padding: 5px 0 !important;
		position: absolute !important;
		z-index: 100 !important;
		top: 100% !important;
		left: 50% !important;
		margin-left: -60px !important;
	}
	&:hover {
		.tooltiptext {
			visibility: visible !important;
		}
	}
}

.outer {
    height: 400px;
    width: 325px;
    background-image: url('../images/bgpic.png');
    background-size:     cover; 
    background-repeat:   no-repeat;
    background-position: center center; 
    z-index: -1;
}

.navPos {
    position: fixed !important;
    margin-bottom: 0px !important;
}

.fq {
    align-items: center !important;
    text-align: center !important;
    justify-content: center !important;
}
.iconUp {
    font-size: 26px;
}

#hoverText {
    cursor: pointer;
    margin-top:5px;
    &:hover {
        #toolT {
            visibility: visible !important;
        }
    }
}

#toolT {
    visibility: hidden !important;
}

.recentBuffer {
    margin-left: 10px;
    margin-right: 10px;
}